[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "==2.5"
pyyaml = "*"
cx-oracle = "*"
kafka-python = "*"
pandas = "*"
flask = "==1.1.2"
pymongo = "*"

[requires]
python_version = "3.6"
